body{
    font-family: Arial,sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav#bar{
    background-color: black;
    height: 60px;
    width: auto;
}
nav#bar ul li a{
    color: white;
    font-size: 12.4px;
    text-decoration: none;
    padding: 12px;
}
ul{
    display: flex;
    list-style: none;
    padding-left: 277px;
    margin: 0px;
}
.image:hover{
    opacity: 0.6;
}
nav div.image{
    display: flex;
    align-items: center;
}
.sujet{
    display: flex;
    align-items: center;
    padding-right: 50px;
}
p{
    color: rgb(179, 177, 177);
    font-weight: lighter;
}
.container{
    display: inline-block;
    position: relative;
    padding-top: 15px;
    margin-left: 11px;
}
.container .text{
    position: absolute;
    margin-left: 920px;
    left: 0;
    right: 0;
    top: 40px;
    color: white;
    width: 33;
}
#badge{
    display: inline-block;
    white-space: nowrap;

    border-radius: 5px;
    padding: 7px;
    background-color: #5a79a0;
}
#badge2{
    display: inline-block;
    white-space: nowrap;
    border-radius: 5px;
    padding: 7px;
    background-color: #207fb7;
}
#description > a{
    color: #b6b8b8;
    line-height: 1.5;
}
small > a{
    color: #888686;
    font-size: smaller;
}
a{
    text-decoration: none;
    color: white;
}
.container .pub{
    position: fixed;
    background: black;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    margin-left: 30px;
    width: 300px;
    height: 490px;
}
#bouton {
    border: solid white 1px;
    border-radius: 25px;
    padding: 10px;
    text-decoration: underline;
}
#separation{
    border-top: solid #dad3d3 1px;
    padding-top: 12px;
}
aside{
    display: flex;
    flex-direction: row; 
}
footer{
    margin-left: 10px;
    margin-top: 25px;
}
#un{
    width: 278.46px;
    margin-right: 63px;

}
#deux{
    width: 278.46px;

}
/*couleurs hover*/
#bleu:hover{
    border-bottom: 8px solid #5a79a0;
}
#vert:hover{
    border-bottom: 8px solid #6b9500;
}
#beige:hover{
    border-bottom: 8px solid #c38767;
}
#bleuclair:hover{
    border-bottom: 8px solid #207fb7;
}
#jaune:hover{
    border-bottom: 8px solid #ffaf00;
}
#bleufoncer:hover{
    border-bottom: 8px solid #5b7c8e;
}
#turquoise:hover{
    border-bottom: 8px solid #14a574;
}
#mauve:hover{
    border-bottom: 8px solid #a05fa8;
}
#saumon:hover{
    border-bottom: 8px solid #d25f68;
}
#grenat:hover{
    border-bottom: 8px solid #840132;
}
#orange:hover{
    border-bottom: 8px solid #ff6c00;
}
#vertforet:hover{
    border-bottom: 8px solid #55815c;
}
/*Fin couleur hover*/