body{
    font-family: Arial,sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav#bar{
    overflow: hidden;
    background-color: black;
    height: 60px;
    width: auto;
}
nav#bar ul li a{
    color: white;
    font-size: 12.4px;
    text-decoration: none;
    padding: 12px;
}
ul{
    display: flex;
    list-style: none;
    padding-left: 277px;
    margin: 0px;
}
.image:hover{
    opacity: 0.6;
}
nav div.image{
    display: flex;
    align-items: center;
}
.sujet{
    display: flex;
    align-items: center;
    padding-right: 50px;
}
p{
    color: white;
    font-weight: lighter;
}
#imageFlash:hover{
    position:fixed;
    height: 236px;
    opacity:0.9;
}
.container{
    display: inline-block;
    position: relative;
    padding-top: 15px;
}
.container .text{
    position: fixed;
    margin-left: 920px;
    left: 0;
    right: 0;
    top: 90px;
    color: white;
    width: 17%;
}































/*couleurs hover*/
#bleu:hover{
    border-bottom: 8px solid #5a79a0;
}
#vert:hover{
    border-bottom: 8px solid #6b9500;
}
#beige:hover{
    border-bottom: 8px solid #c38767;
}
#bleuclair:hover{
    border-bottom: 8px solid #207fb7;
}
#jaune:hover{
    border-bottom: 8px solid #ffaf00;
}
#bleufoncer:hover{
    border-bottom: 8px solid #5b7c8e;
}
#turquoise:hover{
    border-bottom: 8px solid #14a574;
}
#mauve:hover{
    border-bottom: 8px solid #a05fa8;
}
#saumon:hover{
    border-bottom: 8px solid #d25f68;
}
#grenat:hover{
    border-bottom: 8px solid #840132;
}
#orange:hover{
    border-bottom: 8px solid #ff6c00;
}
#vertforet:hover{
    border-bottom: 8px solid #55815c;
}
/*Fin couleur hover*/